---
layout: default
title: 徐永健的个人博客
description:
keywords:
---
<section class="lotus-logo fn-clear">
    <hgroup class="violet-site">
        <h1><a href="{{ site.url }}" >{{ site.title }}</a></h1>
        <h2>{{ site.subTitle }}</h2>
    </hgroup><!-- //violet-site -->
</section>
	<br>
<section class="lotus-double fn-clear">
	<!-- left -->
    <article class="article article-first">
		<h3>Latest <sup></sup></h3>
        <ul>
            {% for npost in site.posts limit:3 offset:0   %}
			<li><a href="{{ npost.url }}" pubdate="{{ npost.date | date_to_utc | date: '%Y-%m-%d' }}" title="{{ npost.title }}" rel="bookmark">{{ npost.title }}</a>  <l>{{ npost.date | date_to_utc | date: '%Y-%m-%d' }}</l></li>
            {% endfor %}
        </ul>
    </article>

	<!-- right -->
    <article class="article article-last">
		<h3>Site Map <sup></sup></h3>
		{% for page in site.page %}
                <span class="lotus-squ">| - </span>
            <a href="{{ page.url }}" rel="bookmark" title="{{page.text}}">{{ page.text }}</a>
		{% endfor %}
    </article>
</section>

<hr/>
<article class="article article-first">
{% for rpost in paginator.posts limit:10 %}
	<h3><a href="{{ rpost.url }}" title="{{ rpost.title }}" rel="bookmark">{{ rpost.title }}</a></h3> 
	<p class="lotus-meta">Publish: <time class="date" pubdate="{{ page.date | date: "%B %e, %Y" }}">{{ rpost.date | date: "%B %e, %Y" }} </time></p>
	{{rpost.content}}
	{% unless forloop.last %}
	<hr/>
	{% endunless %}
{% endfor %}
</article>
